@page "/eventosVoluntarios"
@using Fundacion.Shared.Entidades
@using Fundacion.WEB.Repositories
@using Fundacion.WEB.Shared
@inject IRepository repository
@inject SweetAlertService sweetAlertService
@inject NavigationManager navigationManager

<div class="card">
    <div class="card-header">
        <span>
            <i class="bi bi-person" /> EventosVoluntarios
            <a class="btn btn-primary btn-sm float-end" href="/eventosVoluntarios/create"><i class="bi bi-plus-circle" />Nuevo EventoVoluntario</a>

        </span>
    </div>

    <div class="card-body">

        <GenericList MyList="EventosVoluntarios">

            <Body>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <td></td>
                            <td>
                                Id
                            </td>
                            <td>
                                Id Evento
                            </td>
                            <td>
                                Id Voluntario
                            </td>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in EventosVoluntarios!)
                        {
                            <tr>
                                <td>
                                    <a href="/eventosVoluntarios/edit/@item.Id" class="btn btn-sm btn-warning"><i class="bi bi-pencil-square" /> Editar</a>
                                    <button @onclick=@(() => DeleteAsycn(item)) class="btn btn-sm btn-danger"><i class="bi bi-trash-fill" /> Borrar</button>
                                </td>
                                <td>
                                    @item.Id
                                </td>
                                <td>
                                    @item.EventoId
                                </td>
                                <td>
                                    @item.VoluntarioId
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </Body>
        </GenericList>
    </div>
</div>


@code {
    public List<EventoVoluntario> EventosVoluntarios { get; set; }


    protected override async Task OnInitializedAsync()
    {
        await LoadAsync();
    }

    private async Task LoadAsync()
    {
        var responseHttp = await repository.GetAsync<List<EventoVoluntario>>("api/eventosVoluntarios");
        if (responseHttp.Error)
        {
            var message = await responseHttp.GetErrorMessageAsync();
            await sweetAlertService.FireAsync("Error", message, SweetAlertIcon.Error);
            return;
        }
        EventosVoluntarios = responseHttp.Response;
    }



    private async Task DeleteAsycn(EventoVoluntario eventoVoluntario)
    {
        var result = await sweetAlertService.FireAsync(new SweetAlertOptions
            {
                Title = "Confirmaci n",
                Text = $" Estas seguro de querer borrar el eventoVoluntario: {eventoVoluntario.Id}?",
                Icon = SweetAlertIcon.Question,
                ShowCancelButton = true,
            });
        var confirm = string.IsNullOrEmpty(result.Value);
        if (confirm)
        {
            return;
        }

        var responseHttp = await repository.DeleteAsync<EventoVoluntario>($"api/eventosVoluntarios/{eventoVoluntario.Id}");
        if (responseHttp.Error)
        {
            if (responseHttp.HttpResponseMessage.StatusCode == System.Net.HttpStatusCode.NotFound)
            {
                navigationManager.NavigateTo("eventosVoluntarios");
            }
            else
            {
                var mensajeError = await responseHttp.GetErrorMessageAsync();
                await sweetAlertService.FireAsync("Error", mensajeError, SweetAlertIcon.Error);
            }
            return;
        }

        await LoadAsync();
        var toast = sweetAlertService.Mixin(new SweetAlertOptions
            {
                Toast = true,
                Position = SweetAlertPosition.BottomEnd,
                ShowConfirmButton = true,
                Timer = 3000
            });
        await toast.FireAsync(icon: SweetAlertIcon.Success, message: "Registro borrado con éxito.");
    }

}
