@using Fundacion.Shared.Entidades
@using Fundacion.WEB.Repositories
@using Fundacion.WEB.Shared

@inject IRepository repository
@inject SweetAlertService swal


<NavigationLock OnBeforeInternalNavigation="OnBeforeInternalNavigation"></NavigationLock>

<EditForm Model="Empleado" OnSubmit="OnSubmit">
    <DataAnnotationsValidator />
    <div class="mb-3">
        <label>Nombre:</label>
        <div>
            <InputText width="10" @bind-Value="Empleado.Nombre"></InputText>
            <ValidationMessage For="@(() => Empleado.Nombre)" />
        </div>
    </div>

    <div class="mb-3">
        <label>Cargo:</label>
        <div>
            <InputText width="10" @bind-Value="Empleado.Cargo"></InputText>
            <ValidationMessage For="@(() => Empleado.Cargo)" />
        </div>
    </div>

    <div class="mb-3">
        <label>Fecha:</label>
        <div>
            <InputDate width="10" @bind-Value="Empleado.Fecha"></InputDate>
            <ValidationMessage For="@(() => Empleado.Fecha)" />
        </div>
    </div>

    <div class="mb-3">
        <label>Salario:</label>
        <div>
            <InputNumber @bind-Value="Empleado.Salario" Step="1"></InputNumber>
            <ValidationMessage For="@(() => Empleado.Salario)" />
        </div>
    </div>

    <button class="btn btn-primary" type="submit"><i class="bi bi-floppy" />Guardar Cambios</button>
    <button class="btn btn-info" type="reset"><i class="bi bi-x-circle" />Limpiar</button>
    <button class="btn btn-success" @onclick="ReturnAction"><i class="bi bi-arrow-left" />Regresar</button>
</EditForm>
@code {

    private EditContext editContext = null!;
    protected override void OnInitialized()
    {
        editContext = new(Empleado);
    }

    [Parameter]
    [EditorRequired]
    public Empleado Empleado { get; set; } = null!;

    [Parameter]
    [EditorRequired]
    public EventCallback OnSubmit { get; set; }


    [EditorRequired]
    [Parameter]
    public EventCallback ReturnAction { get; set; }

    public bool FormularioPosteadoConExito { get; set; } = false;


    private async Task OnBeforeInternalNavigation(LocationChangingContext context)
    {
        var formularioFueEditado = editContext.IsModified();

        if (!formularioFueEditado)
        {
            return;
        }

        if (FormularioPosteadoConExito)
        {
            return;
        }

        var resultado = await swal.FireAsync(new SweetAlertOptions
            {
                Title = "Confirmación",
                Text = " Deseas abandonar la página y perder los cambios?",
                Icon = SweetAlertIcon.Warning,
                ShowCancelButton = true
            });

        var confirmado = !string.IsNullOrEmpty(resultado.Value);

        if (confirmado)
        {
            return;
        }

        context.PreventNavigation();
    }
}
