@page "/eventos/create"
@inject NavigationManager navigationManager
@inject IRepository repository
@inject SweetAlertService sweetAlertService

<h3>Crear</h3>

<EventoForm @ref="eventoForm" Evento="evento" OnSubmit="Create" ReturnAction="Return" />

@code {
    private Evento evento = new Evento();
    private EventoForm eventoForm = new EventoForm();

    private async Task Create()
    {
        var responseHttp = await repository.PostAsync("/api/eventos", evento);
        if (responseHttp.Error)
        {
            var message = await responseHttp.GetErrorMessageAsync();
            await sweetAlertService.FireAsync("Error", message);
            return;
        }

        Return();
        var toast = sweetAlertService.Mixin(new SweetAlertOptions
            {
                Toast = true,
                Position = SweetAlertPosition.BottomEnd,
                ShowConfirmButton = true,
                Timer = 3000
            });

        await toast.FireAsync(icon: SweetAlertIcon.Success, message: "Registro creado con éxito");
    }

    private void Return()
    {
        navigationManager.NavigateTo("/eventos");
    }
}