<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Fundacón.WEB</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/beneficiarios">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Beneficiarios
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="donacionesMateriales">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> DonacionesMateriales
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="donacionesMonetarias">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> DonacionesMonetarias
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="donantes">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Donantes
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="empleados">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Empleados
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="eventos">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Eventos
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="gastos">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Gastos
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="programas">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Programas
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="voluntarios">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Voluntarios
            </NavLink>
        </div>



    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}

