@using Fundacion.Shared.Entidades
@using Fundacion.WEB.Repositories
@using Fundacion.WEB.Shared

@inject IRepository repository
@inject SweetAlertService swal


<NavigationLock OnBeforeInternalNavigation="OnBeforeInternalNavigation"></NavigationLock>

<EditForm Model="Gasto" OnSubmit="OnSubmit">
    <DataAnnotationsValidator />
    <div class="mb-3">
        <label>Descripción:</label>
        <div>
            <InputText width="10" @bind-Value="Gasto.Descripcion"></InputText>
            <ValidationMessage For="@(() => Gasto.Descripcion)" />
        </div>
    </div>

    <div class="mb-3">
        <label>Monto:</label>
        <div>
            <InputNumber @bind-Value="Gasto.Monto" Step="1"></InputNumber>
            <ValidationMessage For="@(() => Gasto.Monto)" />
        </div>
    </div>


    <div class="mb-3">
        <label>Fecha:</label>
        <div>
            <InputDate width="10" @bind-Value="Gasto.Fecha"></InputDate>
            <ValidationMessage For="@(() => Gasto.Fecha)" />
        </div>
    </div>

    <div class="mb-3">
        <label>Categoría:</label>
        <div>
            <InputText width="10" @bind-Value="Gasto.Categoria"></InputText>
            <ValidationMessage For="@(() => Gasto.Categoria)" />
        </div>
    </div>

    <button class="btn btn-primary" type="submit"><i class="bi bi-floppy" />Guardar Cambios</button>
    <button class="btn btn-info" type="reset"><i class="bi bi-x-circle" />Limpiar</button>
    <button class="btn btn-success" @onclick="ReturnAction"><i class="bi bi-arrow-left" />Regresar</button>
</EditForm>
@code {

    private EditContext editContext = null!;
    protected override void OnInitialized()
    {
        editContext = new(Gasto);
    }

    [Parameter]
    [EditorRequired]
    public Gasto Gasto { get; set; } = null!;

    [Parameter]
    [EditorRequired]
    public EventCallback OnSubmit { get; set; }


    [EditorRequired]
    [Parameter]
    public EventCallback ReturnAction { get; set; }

    public bool FormularioPosteadoConExito { get; set; } = false;


    private async Task OnBeforeInternalNavigation(LocationChangingContext context)
    {
        var formularioFueEditado = editContext.IsModified();

        if (!formularioFueEditado)
        {
            return;
        }

        if (FormularioPosteadoConExito)
        {
            return;
        }

        var resultado = await swal.FireAsync(new SweetAlertOptions
            {
                Title = "Confirmación",
                Text = "¿Deseas abandonar la p gina y perder los cambios?",
                Icon = SweetAlertIcon.Warning,
                ShowCancelButton = true
            });

        var confirmado = !string.IsNullOrEmpty(resultado.Value);

        if (confirmado)
        {
            return;
        }

        context.PreventNavigation();
    }
}
